<head>
    <meta charset="UTF-8">
    <title>Currículo Vinícius</title>
    <link rel="stylesheet" href="../stylesheets/curriculoVinicius.css">
</head>

<body>
    <div id="paginaVinicius">
        <h2 id="nomeVinicius">Vinícius Palomino Teixeira Wixak</h2>

        <img src="../images/vinicius.jpg" id="perfilVinicius">

        <p class="descricao">25 anos, Solteiro, viniciuswixak@gmail.com – (22) 98168-0490</p>
        <p class="descricao">Rua: Joaquim Távora, 50. Icaraí - Niteroi – RJ. CEP: 24230-540</p>

        <h3 class="subtituloVinicius">Perfil Profissional</h3>
        <p class="textoVinicius">Conhecimentos relacionados à elétrica, controladores lógicos programáveis (CLP), desenvolvimento de telas de supervisório, microprocessadores e microcontroladores, implementação de equipamentos e dispositivos, processamento de sinais, manutenção,
            desenvolvimento de sistemas de controle, técnicas de controle, eletrônica, programação orientada à eventos, programação orientada à objetos.
            <br>Campeão das Olimpíadas do Conhecimento SENAI, na área de Automação Industrial, etapa regional no ano de 2015 e competidor das Olimpíadas do Conhecimento SENAI, na área de Automação Industrial, etapa estadual, também no ano de 2015.
            <br>Co-fundador do ramo estudantil do IEEE no Instituto Federal Fluminense - Campus Macaé.</p>

        <h3 class="subtituloVinicius">Formação Acadêmica</h3>
        <p class="textoVinicius">Graduação em Engenharia de Controle e Automação – Instituto Federal Fluminense – Campus Macaé.<br>Situação atual: 8º período.<br>Previsão de Término do Curso: 2020.</p>
        <p class="textoVinicius">Técnico em Automação Industrial – Serviço Nacional de Aprendizagem Industrial - SENAI <br>Período: 14/04/2014 – 25/11/2015.</p>

        <h3 class="subtituloVinicius">Experiência Profissional</h3>
        <p class="textoVinicius">Bassdrill <br>Período: 07/2019 - Atual <br>Estagiário de manutenção</p>
        <ul class="listasVinicius">
            <li>Suporte de Engenharia à Atividades Offshore</li>
            <li>Controle de Documentos:
                <ul>
                    <li>Análises de Manuais de Equipamentos</li>
                    <li>Análise de Óleo para Equipamentos Critícos</li>
                    <li>Revisão de Instruções de Serviços</li>
                </ul>
            </li>
            <li>Estudos de Engenharia Para Implementação dos Sistemas Hidráulicos</li>
        </ul>

        <p class="textoVinicius">RootLocus - Empresa Júnior<br>Período: 02/2018 – 06/2019
            <br>Membro do setor de projetos entre 02/18 a 07/2018.<br>Diretor de projetos de 07/2018 até o 05/2019.
        </p>
        <ul class="listasVinicius">
            <li>Gestor da equipe de projetos.</li>
            <li>Desenvolvimento da horta vertical automatizada.</li>
            <li>Desenvolvimento do controlador inteligente de ar condicionado.</li>
        </ul>

        <p class="textoVinicius">Laboratório de Automação – IFF – Campus Macaé.<br>Período: 11/2018 – 07/2019.
            <br>Bolsista de Extensão.<br>Carga horária: 20 horas semanais.</p>
        <ul class="listasVinicius">
            <li>Implantação de padrão para automação de estação de tratamento de efluentes.</li>
            <li>Programação em Ladder para automação de uma estação de tratamento de efluentes.</li>
            <li>Desenvolvimento de um supervisório para a automação de uma estação de tratamento de efluentes.</li>
            <li>Protótipo e simulação da automação da ETE utilizando CLP e componentes eletrônicos.</li>
        </ul>

        <h3 class="subtituloVinicius">Apresentação de trabalhos</h3>
        <p class="textoVinicius">WIXAK, V. P. T.; GARCIA F. D. Desenvolvimento de um Protótipo de um Sistema Geotérmico. CONEPE 2018 V Congresso de ensino, pesquisa e extensão do IFF-Campos dos Goytacazes 18 de Outubro de 2018.</p>

        <h3 class="subtituloVinicius">Informática</h3>
        <p class="textoVinicius">Microsft Office. <br>SketchUp. <br>CodeBlocks. <br>Android Studio. <br>BlueJ. <br>Elipse.
            <br>MatLab.</p>

        <h3 class="subtituloVinicius">Atividades Complementares</h3>
        <p class="textoVinicius">Mini Curso – Python/SECAE VII – IFF – 4 horas – 11/2018.
            <br>Mini Curso – Matlab/SECAE VII – IFF – 4 horas – 11/2018.
            <br>Mini Curso – Supervisório + Ladder/SECAE VII – IFF – 4 horas – 11/2018.
            <br>Mini Curso – Montar e programar um robô/SECAE VII – IFF – 4 horas – 11/2018.
            <br>Mini Curso – Processing/SECAE VII – IFF – 4 horas – 11/2018.
            <br>Mini Curso – Robótica/SECAI IV – IFF – 4 horas – 11/2017.
            <br>Mini Curso – Excel/SECAI – IFF – 4 horas – 11/2017.
        </p>

    </div>
</body>