<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/estiloMatheus.css">
</head>

<body>

    <div id="CurriculoMatheus">

        
        <h2 class="Matheus">Matheus Rocha Dias</h2>
        <img src="/images/Matheus.jpg" alt="Not found" id="fotoMatheus">

        <h3 class="subtituloMatheus" >
            Brasileiro, solteiro, 25 anos
            <br />São Gonçalo – Rio de Janeiro
            <br />Telefone: (22) 98154-3732
            <br />E-mail: matheusrochadias@hotmail.com
        </h3>
        <h3 class="TituloMatheus">
            PERFIL PROFISSIONAL:
        </h3>

        <h4 class="TextoMatheus">
            Graduando em Engenharia de Controle e Automação pelo Instituto Federal Fluminense e técnico em Automação
            Industrial pela ETP Escola Técnica. Conhecimentos em elétrica e eletrônica, controladores lógicos
            programáveis – CLP, desenvolvimento de telas de supervisório, microprocessadores e microcontroladores,
            implementação de equipamentos e dispositivos, processamento de sinais, desenvolvimento de sistemas de
            automação, técnicas de controle e programação orientada à eventos e objetos e desenvolvimento de sites.
            Perfil dinâmico, proativo, inovador e alta capacidade de análise para resolução de problemas. Inglês fluente
            (Brasas English Course) – Espanhol avançado (CNA Idiomas).

        </h4>

        <ul class="ListaMatheus">
            <li>Habilidades:
                <ul>
                    <li>Pacote Office avançado</li>
                    <li>C</li>
                    <li>C++</li>
                    <li>Ladder</li>
                    <li>Wordpress</li>
                </ul>
            </li>

        </ul>

        <h3 class="TituloMatheus">FORMAÇÃO
        </h3>

        <ul class="ListaMatheus">
            <li>Graduando em Engenharia de Controle e Automação. Instituto Federal Fluminense – Campus Macaé, previsão
                de conclusão em dezembro/2021. </li>
            <li>Técnico em Automação Industrial. Escola Técnica Profissional – ETP, concluído em janeiro/2017.</li>
            <li>Inglês avançado. Brasas English Course, conclusão em julho/2015.</li>
            <li>Espanhol avançado. Cultural Norte Americano – CNA, conclusão dezembro/2018. Certificado de Proficiência
                Nível B2 do Instituto Cervantes – SIELE. </li>
        </ul>
        <h3 class=TituloMatheus>Experiência Profissional
        </h3>

        <ul class="ListaMatheus">
            <li>Jan 2020/Atual – Analista de Suporte de Sistemas na Escola de Idiomas American Insight. – Responsável
                pela implementação da rede de infraestrutura e manutenção de equipamentos; Desenvolvimento e
                estruturação do site e plataforma de ensino online da Companhia, incluindo o rankeamento SEO da página;
                Gestão e controle dos materiais, documentos e orçamento do setor; Elaboração e revisão de procedimentos
                e instruções de trabalho. </li>
            <br />
            <li>Mai 2019/ Jun 2020 – Pesquisador selecionado para o programa de incubação StartUp Macaé da Prefeitura de
                Macaé em associação com o Centro de Referência em Inovação para Operações Sustentáveis da Universidade
                Federal do Estado do Rio de Janeiro – Responsável pelo desenvolvimento do projeto de inovação
                tecnológica para construção de miniestações automatizadas de tratamento de água. Desenvolvimento de
                programação em microcontroladores, utilização de atuadores e sistemas supervisórios, desenvolvimento de
                banco de dados e tomada de ação preventiva.</li>
            <br />
            <li>Mai 2018/Jun 2019 – Gerente de Projetos na Empresa Júnior Rootlocus – Responsável pelo planejamento,
                execução e manutenção dos projetos de horta vertical automatizada e controlador inteligente de
                ar-condicionado no Instituto Federal Fluminense; Gestão de equipe; Responsável por ministrar cursos de
                programação voltados para microcontroladores e CLP; Responsável pela execução de projetos sob demanda,
                atuando desde o primeiro contato com o cliente, até o planejamento e execução do projeto; Responsável
                por desenvolver propostas comerciais à clientes.</li>
            <br />
            <li>Mai 2018/Jun 2019 – Gerente de Projetos na Empresa Júnior Rootlocus – Responsável pelo planejamento,
                execução e manutenção dos projetos de horta vertical automatizada e controlador inteligente de
                ar-condicionado no Instituto Federal Fluminense; Gestão de equipe; Responsável por ministrar cursos de
                programação voltados para microcontroladores e CLP; Responsável pela execução de projetos sob demanda,
                atuando desde o primeiro contato com o cliente, até o planejamento e execução do projeto; Responsável
                por desenvolver propostas comerciais à clientes.</li>
            <br />
            <li>Mar 2017/Abril 2018 – Bolsista de Iniciação Científica CNPq (Conselho Nacional de Desenvolvimento
                Científico e Tecnológico – Responsável pelo desenvolvimento de protótipo para redução de gastos de
                energia elétrica dos aparelhos de ar-condicionado do Instituto Federal Fluminense - Campus Macaé;
                Análise e formação do banco de dados de custos com energia elétrica do Campus, mensurando economias;
                Programação em Arduíno com comunicação via infravermelho.
            </li>
        </ul>

        <h2 class="TituloMatheus">Atividades Complementares</h2>

        <ul class="ListaMatheus">
            <li>Pacote Office avançado;</li>
            <li>Curso complementar em Arduíno;</li>
            <li>Curso complementar em MSProject;</li>
            <li>Curso complementar em Matlab;</li>
            <li>Curso complementar em Progamação em Python; </li>
            <li>Curso complementar em Robótica;</li>
            <li>Curso complementar em Supervisório + Ladder.</li>
        </ul>

        <h3 class="TituloMatheus">INFOMAÇÕES ADICIONAIS</h3>

        <ul class="ListaMatheus">
        <li>Disponibilidade para viagens e trabalho presencial ou remoto.</li>
        <li> Inglês e espanhol fluente em leitura, conversação e escrita</li>
    </ul>
    </div>
</body>

</html>
       
    </div>
</body>

</html>