<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculo Rafael Tostes</title>
    <link rel="stylesheet" href="../stylesheets/Curriculo_tostes.css">

</head>

<body>
    
    <div id="CurriculoTostes">

        <h2 class="tituloTostes">Rafael Pereira Tostes</h2>

        <img src="/images/FOTO_Rafael Tostes.jpg" alt="NOT FOUND" id="fotoTostes" >

        <h3 class="tituloTostes">
            Brasileiro, Solteiro, 27 anos
            <br /> Macaé - Rio de Janeiro
            <br /> Tel: (22) 99886-9152
            <br /> E-mail: rafaelptostes@hotmail.com
        </h3>

        <h3 class="sub"> Perfil Profissional</h3>

            <p class="texto"> Reconhecido ao longo da carreira pelo profissionalismo, rápido aprendizado e pelos resultados obtidos; 
                Trabalho muito bem em equipe, sou esforçado, comunicativo, proativo.
            </p>

        <h3 class="sub"> Formação Academica</h3><BR/>
        
            <p class="texto">
                <ul>

                <li> Ensino Médio completo. </li>
                <li> Curso : Técnico em Automação Industrial <br/>
                Instituição: SENAI Macaé
                Finalizado em 11/2015 </li>
                <li>Cursando Sistemas de Informação
                Instituição: FEMASs Macaé </li>
                <LI>Inglês Avançado - WiseUp Macaé</LI> 

                </ul>

        <h3 class="sub">Experiencias Profissionais</h3>
            
            <p class="texto">
                <B>MAN DIESEL & TURBO</B><br/>
                Suporte de TI<br/>
                Cargo: Estagiário<br/>
                Período: Dezembro/2016 – Setembro/2018<br/>
                <br/>
                <b>Atribuições:</b> Manutenção de computadores; instalação de pontos de redes e ramais; realizar suporte aos usuários; inspecionar as redes e telefonia fixa; manutenções e controle de softwares e hardware; efetuar o backup diário da unidade; realizar procedimentos de workflow para criação de contas, acesso a VPN, e outros assuntos relacionados ao TI; gerenciamento de PABX na base Man Macaé.
                </p>    


            </p>
         <h3 class="sub">Outras Atividades</h3>   
            
            <p class="texto"> Trabalho voluntario no SENAI de Macaé no ano de 2015, realizando manutenção e montagem de quadros elétricos, CLPs, equipamentos de instrumentação, entre outros.
            </p>


        </div>
        
    
</body>
</html>
