<link rel="stylesheet" type="text/css" href="/stylesheets/Victor.css">
<div class="cardbox">
    <div class="dadosDaPessoa">
        <Span>
            <div class="foto">
                <img src="/images/Victor.PNG">
            </div>
            <div class="dados">
                <h2>Victor Leite Lopes</h2>                
                <p><b>Endereço: </b>Rua Pedro Aguiar Franco, n 57, São Marcos - Macaé/RJ - <b>Est. Civil: </b>Solteiro</p>
                <p><b>Telefone: </b>(22) 99860-5958 <b>E-mail: </b>v2leitelopes@gmail.com <b>Nasc.: </b>23/01/1995</p>
            </div>
        </Span>
    </div>
    <div class="corpo">
        <h3>Formação Acadêmica</h3>        
        <ul>
            <li>Engenharia de Controle e Automação (4.000hh) IFF Macaé - conclusão: jul/2021</li>
            <li>Curso Técnico em Automação Industrial (1.400hh) SENAI - conclusão: nov/2015</li>
        </ul>
        <h3>Experiência Profissional</h3>
        <ul>
            <li>
                Atualmente – Estagiário de Engenharia na Bass Drill desde jan/2020.
                <p>
                    <b>Atividades: </b>Monitoramento de equipamentos em regime offshore, desenvolvimento de software como serviço do Windows para prevenção de erros em notas de serviço, auxiliar na resposta aos questionamentos técnicos do cliente (Petrobrás), realização de estudo para implementação de monitoramento de vibração e temperatura em equipamentos rotativos.
                </p>
            </li>
            <li>
                09/2015 a 06/2016 – Balconista na empresa Drogarias Pacheco.
                <b>Atividades: </b><u>Operador de loja: </u>venda de produtos, organização de mostruário, organização e limpeza de sessão de medicamentos e dermocosméticos.
                <p><u>Balconista: </u>venda de produtos especializados, controlados e regulamentados envio e revisão de documentos, conhecimento e esclarecimentos a respeito de produtos, atendimento ao cliente e prestação de auxílios a Gerente.</p>
            </li>
            <li>
                02/2015 a 09/2015 – Operador de Loja na empresa Drogarias Pacheco.
                <b>Atividades: </b>trabalho em caixa, participação em CIPA, verificação de condições de trabalho, limpeza de loja e sessões, limpeza e organização de estoque, atendimento ao cliente e auxílio na prevenção contra furtos. 
            </li>
        </ul>
        <h3>Qualificações e Atividades Complementares</h3>
        <ul>
            <li>Introdução a PHP Orientado a Objetos (1 hh) – jun/20</li>
            <li>Criação de Páginas de Internet Dinâmicas com PHP (2 hh) – jun/20</li>
            <li>Introdução à Linguagem CSS (2 hh) – mai/20</li>
            <li>Introdução à Linguagem HTML (0.5 hh) – mai/20</li>
            <li>Elétrica de Baixa Potência (4 hh) – conclusão: nov/18.</li>
            <li>Eletrônica de Alta Frequência (4 hh) – conclusão: nov/18</li>
            <li>Rede (4 hh) – conclusão: nov/18.</li>
            <li>Inversor de Frequência (4 hh) – conclusão: out/18</li>
            <li>Membro da CIPA (20 hh) – conclusão: fev/15</li>
        </ul>
        <h3>Conhecimentos Específicos</h3>
        <ul>
            <li>Inglês em nível avançado (Leio bem, compreendo bem, tenho boa dicção e pronúncia).</li>
            <li>Conhecimento intermediário em Python.</li>
            <li>Excel 
                    <Ul>
                        <li>Aplicação de fórmulas</li> 
                        <li>Edição de planilha</li>
                        <li>produção de gráficos</li>
                        <li>conhecimento a respeito de ferramentas do programa</li>
                        <li>produção de macros simples e facilidade de aprendizado no programa</li>
                    </ul>
            </li>
            <li>Conhecimentos musicais (Campo harmônico natural, técnica intermediária em Guitarra e violão e técnicas básicas em baixo).</li>
        </ul>
        <h1>MEMEBRO DOS GAROTOS DE PROGRAMA</h1>
    </div>
</div>