#CurriculoMatheus{

    position: relative;
    padding-bottom: 150px;
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-top: 10px;
    bottom: auto;    
    background-color: white;
}

#fotoMatheus{
    position: absolute;
    width: 150px;
    left: 20px;
    top: 20px;
    
}

.Matheus{
    text-align: center;
    font-size:30px;
    font-family: sans-serif;
    font-weight: 600;
   
    position: relative;
    top: 20px;
}

.subtituloMatheus{
    text-align: center;
    font-family:sans;
    font-weight: 500;
    font-size:20px;

    position: relative;
    top: 50px;

}


.TituloMatheus{
    position: relative;
    text-align:justify;
    font-size:22px;
    font-family: sans-serif;
    font-weight: 600;
    left: 110px;
    top: 70px;
}


.TextoMatheus{
    position: relative;
    padding-right: 20px;
    padding-left: 30px;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    top: 70px;
    
}

.ListaMatheus{
    position: relative;
    text-align:justify;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    top: 70px;
    padding-right: 20px;
    padding-left: 30px;

}
